<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.databasetictoe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Game_Night"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DatabaseTicToe">
        <activity
            android:name=".ticmain"
            android:exported="false" />
        <activity
            android:name=".snakes"
            android:exported="false" />
        <activity
            android:name=".Tic"
            android:exported="false" />
        <activity
            android:name=".coinflip"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true" />
        <activity
            android:name=".Add_Friends_Activity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".GameActivity" />
        <activity
            android:name=".MainActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity2" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>